.backgroundnone{
    background: none;
}
.carousel-inner{
margin-top: 56px;
}
.mtop{
    margin-top: 76px;
}
main{
    height: 80vh;
}
@media only screen and (max-width:990px)
{
    .fixed-top{
        position:static;
    }
    .mtop{
        margin-top: 0px;
    }
    
}